<div class="research" #researchContainer>


    <a name="research" id="research"></a>
    <header class="website-section-header">
        <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Research</h2>
    </header>

    <div class="content">
        <h1>Insights From Our Study</h1>
    </div>

    <section class="content dates-vs-numbers">

        <header>
            <h3>1. In a world of big data, visual cues matter</h3>
        </header>

        <div class="info">

            <div class="section-content">
                <p>We found that participants take much longer to navigate to raw numbers than to targets on a visualization that uses years, dates, and minutes.</p>
            </div>


            <div class="section-content second-content">

                <img src="assets/datesVsNumbers.svg" width="400" />

            </div>
            <br style="clear:both" />
        </div>


        <div class="comparison">
            <div class="section-content">
                <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="true" [width]="timelineWidth" [height]="140" [style.width]="timelineWidth+'px'" style="height:140px"></numbervis>
            </div>

            <div class="versus">
                <span>V.S.</span>
            </div>

            <div class="section-content second-content">
                <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="140" [style.width]="timelineWidth+'px'" style="height:140px"></numbervis>
            </div>


            <br style="clear:both" />
        </div>

    </section>


    <section class="content">
        <header>
            <h3>2. Timelines should be vertical, not horizontal</h3>
        </header>

        <div class="section-content">
            <p>For the traditional zooming methods such as two-finger pinch zoom and scroll zoom, participants of the study navigated faster using a vertical timeline than a horizontal timeline on mobile, and equal on desktop.</p>
            <p>For more advanced methods that have user-controlled zoom speed, such as brush or dynamic zoom, the vertical orientation led to faster results than horizontal, and the difference is much bigger than for the traditional methods.</p>
        </div>


        <div class="section-content second-content">

            <img src="assets/horizontalVsVerticalMobile.svg" width="400" />

        </div>
        <br style="clear:both" />




        <div class="comparison">
            <div class="section-content">
                <numbervis [vertical]="true" [zoomModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="timelineWidth" [style.width]="timelineWidth+'px'" [style.height]="timelineWidth+'px'"></numbervis>
            </div>

            <div class="versus big">
                <span>V.S.</span>
            </div>

            <div class="section-content second-content">
                <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="timelineWidth" [style.width]="timelineWidth+'px'" [style.height]="timelineWidth+'px'"></numbervis>
            </div>


            <br style="clear:both" />
        </div>

    </section>


    <section class="content">
        <header>
            <h3>3. Content</h3>
        </header>

        <div class="section-content">
            <p>Work in progress.</p>
        </div>


        <div class="section-content second-content">

            <!--<img src="assets/horizontalVsVerticalMobile.svg" width="400" />-->

        </div>
        <br style="clear:both" />


    </section>

    <div class="content">
        <h1>Read More In The Paper!</h1>
        <p>Download the preliminary paper below. It is currently under peer review and will be revised in the future.</p>

        <a class="download" download href="assets/easypz_submission.pdf">
            <i class="fa fa-download" aria-hidden="true"></i>
            Download
        </a>
    </div>




</div>
