.home {
    /*padding: 67px 0 40px 0;*/
}
.content {
    padding: 0 20px;
}

numbervis {
    background: #fff;
    filter: invert(85%);
}

@media(min-width:1000px)
{
    section header {
        width: 500px;
        float: left;
    }
    section numbervis {
        float: right;
    }
}

section.content {
    background: #333;
    /*height: 160px;*/
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px #111;
}

h3, h4 {
    margin: 0;
}
h3 {
    font-size: 26px;
}
h4 {
    font-weight: normal;
}

.toggleCode {
    cursor: pointer;
    display: inline-block;
    background: #ddd;
    color: #000;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #111;
    width: 120px;
    text-align: center;
}

@media(min-width:1000px)
{
    .website-section-header {
        width: 1000px;
    }
}

.content p, .section-content p {
    text-align: justify;
}

code {
    font-size: 12px;

}
pre {
    border: 1px dashed #d70;
    padding: 5px;
    margin: 0;
}
