.home {
    /*padding: 67px 0 40px 0;*/
}
.content {
    padding: 0 20px;
}

numbervis {
    background: #fff;
    filter: invert(85%);
    margin-top: 10px;
}

@media(min-width:1000px)
{
    section header {
        width: 500px;
        float: left;
    }
    section numbervis {
        float: right;
    }
}

@media(min-width:1000px)
{
    .website-section-header {
        width: 1000px;
    }
}

.content p, .section-content p {
    text-align: justify;
}

code {


}
pre {
    border: 1px dashed #d70;
    padding: 5px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    background: rgba(0,0,0,0.2)
}

h4 {
    margin: 0;
}
