
.content {
    padding: 0 20px;
}


@media(min-width:1000px)
{
    section header {
        width: 432px;
        float: left;
    }
}



@media(min-width:1000px)
{
    .website-section-header {
        width: 1000px;
    }
}

.content p, .section-content p {
    text-align: justify;
}
