header {
    padding-top: 10px;
    background: url(../../assets/easypz.png) no-repeat left 20px;
    background-size: 30px 30px;
    padding-left: 36px;
}
h2 {
    text-shadow: 2px 1px 1px #000;
    margin: 0;
    padding-top: 10px;
}

nav {
    padding: 0 20px 10px;
    /*border-bottom: 1px solid #d70;*/
    /*border-bottom: 1px solid #555;*/

    box-sizing: border-box;
}


ul {
    list-style: none;
    display: inline;

    float: right;
    padding-left: 0;
    margin: 15px 0 0 0;
    text-align: right;
}
ul li {
    display: inline;
}
nav {
    position: fixed;
    height: 67px;
    /*width: 1000px;*/
    /*width: 100%;*/
    background: #222;
    z-index: 200;
}
nav a {
    display: inline-block;
    background: #d70;
    padding: 10px 15px;

    cursor: pointer;

    text-align: center;
    text-decoration: none;
    transition: padding linear 200ms;
}
@media(min-width:1000px) {
    nav a {
        width: 140px;
        margin-left: 10px;
    }
    ul {
        width: 60%;
    }
    nav a:hover:before {
        content: "» ";
    }
    nav a:hover:after {
        content: " «";
    }
}
@media(max-width:999px) {
    nav a {
        width: 5px;
        margin-left: 3px;
    }
    nav li a i {
        margin-left: -3px;
    }
    nav li:first-child a i {
        margin-left: -6px;
    }
    ul {
        width: 140px;
    }
}

nav a.active {
    padding-bottom: 22px;
    margin-bottom: -10px;
}
header {
    /*width: 50%;*/
    float: left;
}
