<!--<manual-app></manual-app>-->
<!--<mturk-app></mturk-app>-->

<div class="container">
    <nav class="container">
        <header>
            <h2>EasyPZ.js <span class="small-on-mobile hide-on-tiny">Pan & Zoom</span></h2>
        </header>
        <ul>
            <li><a [class.active]="activeTab=='showcase'" (click)="scrollTo('showcase')"><i class="fa fa-picture-o" aria-hidden="true"></i> <span class="pc-only">Show Cases</span></a></li>
            <li><a [class.active]="activeTab=='library'" (click)="scrollTo('library')"><i class="fa fa-code" aria-hidden="true"></i> <span class="pc-only">Features</span></a></li>
            <li><a [class.active]="activeTab=='research'" (click)="scrollTo('research')"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span class="pc-only">Research</span></a></li>
        </ul>
        <br style="clear: both" />
    </nav>

    <!--<router-outlet></router-outlet>-->

    <showcase></showcase>

    <library></library>

    <research></research>


</div>
