header {
    padding-top: 10px;
    background: url(../../assets/easypz.png) no-repeat left 20px;
    background-size: 30px 30px;
    padding-left: 36px;
}
h1 {
    /*text-shadow: 2px 1px 1px #000;*/
    margin: 0;
    padding-top: 10px;
    font-size: 1.5em;
}

nav {
    padding: 0 20px 10px;
    /*border-bottom: 1px solid #d70;*/
    /*border-bottom: 1px solid #555;*/

    box-sizing: border-box;
}


ul {
    list-style: none;
    display: inline;

    float: right;
    padding-left: 0;
    margin: 15px 0 0 0;
    text-align: right;
}
ul li {
    display: inline;
}
nav {
    position: fixed;
    height: 67px;
    top: 0;
    /*width: 1000px;*/
    /*width: 100%;*/
    background: #222;
    z-index: 300;
}
nav a {
    display: inline-block;
    background: #d70;
    padding: 10px 0px;
    font-size: 1.1em;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    transition: padding linear 200ms;
}
@media(min-width:1000px) {
    nav a {
        width: 191px;
        margin-left: 10px;
    }
    ul {
        width: 60%;
    }
    nav a:hover:before {
        content: "» ";
    }
    nav a:hover:after {
        content: " «";
    }
}
@media(max-width:999px) {
    h1 {
        font-size: 1.25em;
    }
    nav a {
        width: 85px;
        margin-left: 3px;
    }
    nav li a i {
        margin-left: -3px;
    }
    nav li:first-child a i {
        margin-left: -6px;
    }
    ul {
        width: 180px;
    }
}

nav a.active {
    padding-bottom: 22px;
    margin-bottom: -10px;
}
header {
    /*width: 50%;*/
    float: left;
}

.website-content-wrapper {
    margin-top: 67px;
}

.intro {
    padding: 10px 20px 0;
    font-size: 1.25em;
}

@media(min-width:1000px)
{
    .intro-text {
        width: 500px;
        float: left;
    }
    .intro img {
        float: right;
    }
    .intro br {
        clear: both;
    }
}
