<div class="home" #homeContainer>

<!--

    <nav>
        <header>
            <h2>EasyPZ: Simple Pan & Zoom JS Library for Mobile & Desktop</h2>
        </header>
    </nav>

-->
    <header class="website-section-header">
        <h2>JS Library</h2>
    </header>

    <div class="content">
        <h1>Zoom How You Want - Try it!</h1>
    </div>

    <section class="content">
        <header class="noselect">
            <h3>Standard</h3>
            <h4>Flick Pan + Double Click, Wheel & Pinch Zoom</h4>
            <p>These methods are pretty standard. Flick pan means that the content keeps its momentum when you release the pointer, and then slows down. You can also zoom out with double right click.</p>
            <a class="toggleCode" (click)="showCode[0]=!showCode[0]"><span *ngIf="!showCode[0]">Show</span><span *ngIf="showCode[0]">Hide</span> Code</a>
        </header>
        <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="140" [style.width]="timelineWidth+'px'" style="height:140px"></numbervis>
        <br style="clear:both" />
        <pre *ngIf="showCode[0]"><code><![CDATA[<zoomable [enabledModes]="['FLICK_PAN', 'WHEEL_ZOOM', 'PINCH_ZOOM', 'DBLCLICK_ZOOM_IN', 'DBLRIGHTCLICK_ZOOM_OUT']">
    <!-- Timeline Visualization -->
</zoomable>]]></code></pre>
    </section>

    <section class="content">
        <header class="noselect">
            <h3>For the Lazies</h3>
            <h4>Flick Pan + Hold Zoom In + Double Click Zoom Out</h4>
            <p>Hold zoom in requires much less work to zoom in, particularly when compared against pinching on mobile devices. Notice that you can adjust the zoom position while zooming.</p>
            <a class="toggleCode" (click)="showCode[1]=!showCode[1]"><span *ngIf="!showCode[1]">Show</span><span *ngIf="showCode[1]">Hide</span> Code</a>
        </header>
        <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'HOLD_ZOOM_IN', 'DBLCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="140" [style.width]="timelineWidth+'px'" style="height:140px"></numbervis>
        <br style="clear:both" />
        <pre *ngIf="showCode[1]"><code><![CDATA[<zoomable [enabledModes]="['FLICK_PAN', 'HOLD_ZOOM_IN', 'DBLCLICK_ZOOM_OUT']">
    <!-- Timeline Visualization -->
</zoomable>]]></code></pre>
    </section>

    <section class="content">
        <header class="noselect">
            <h3>How About Some Brushing?</h3>
            <h4>Scroll & Two Finger Pan + Brush Zoom In + Double Click Zoom Out</h4>
            <p>Brush zooming is a very precise and efficient way of zooming, in terms of interaction per scale change. However, fast context switches and the incompatibility with standard panning make this method harder for beginners.</p>
            <a class="toggleCode" (click)="showCode[2]=!showCode[2]"><span *ngIf="!showCode[2]">Show</span><span *ngIf="showCode[2]">Hide</span> Code</a>
        </header>
        <numbervis [vertical]="false" [zoomModes]="['WHEEL_PAN_X', 'PINCH_PAN', 'BRUSH_ZOOM_X', 'DBLCLICK_ZOOM_OUT']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="140" [style.width]="timelineWidth+'px'" style="height:140px"></numbervis>
        <br style="clear:both" />
        <pre *ngIf="showCode[2]"><code><![CDATA[<zoomable [enabledModes]="['WHEEL_PAN_X', 'PINCH_PAN', 'BRUSH_ZOOM_X', 'DBLCLICK_ZOOM_OUT']">
    <!-- Timeline Visualization -->
</zoomable>]]></code></pre>
    </section>



    <section class="content">
        <header class="noselect">
            <h3>A More Dynamic Approach.</h3>
            <h4>Flick Pan + Dynamic Zoom</h4>
            <p>To use dynamic zoom, "drag" the timeline down, and adjust the zooming position to the left or right during the process. Dynamic zoom is also a very efficient method. In our study, it fared comparably or better than the standard methods on both mobile and desktop.</p>
            <a class="toggleCode" (click)="showCode[3]=!showCode[3]"><span *ngIf="!showCode[3]">Show</span><span *ngIf="showCode[3]">Hide</span> Code</a>
        </header>
        <numbervis [vertical]="false" [zoomModes]="['FLICK_PAN', 'DYNAMIC_ZOOM_Y_ADJUSTABLE']" [lastNumber]="20000000" [numberMode]="false" [width]="timelineWidth" [height]="200" [style.width]="timelineWidth+'px'" style="height:200px"></numbervis>
        <br style="clear:both" />
        <pre *ngIf="showCode[3]"><code><![CDATA[<zoomable [enabledModes]="['FLICK_PAN', 'DYNAMIC_ZOOM_Y_ADJUSTABLE']">
    <!-- Timeline Visualization -->
</zoomable>]]></code></pre>
    </section>


    <div class="content">
        <h1>Interested? Let Us Know!</h1>
        <p>We are working on releasing all of our code in an organized and clean way. If you're interested in using it, <a href="mailto:easypzjs@gmail.com">let us know</a>! It motivates us and if needed, we might be able to give you a preliminary version of the library.</p>
    </div>

    <research></research>

</div>
